* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#book-form {
    padding: 2rem;
    width: 50%;
    background-color: aquamarine;
}

.card-container {
    padding: 2rem;
    background-color: white;
    
}

.card {
    padding: 1rem;
    border: 1px solid black;
    background-color: darksalmon;
    margin: 2rem;

}